*.iml
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild


.idea
*.iml
auth-service/*.iml
config/*.iml
gateway-point/*.iml
registry/*.iml
auth-service/target
config/target
gateway-point/target
registry/target
monitoring/target
account-service/target
account-service/target/*
